/* style.css
portfolio sheet */


/* CSS HEX */
/*--dark-olive-green: #606c38ff;
--kombu-green: #283618ff;
--cornsilk: #fefae0ff;
--earth-yellow: #dda15eff;
--liver-dogs: #bc6c25ff;*/

/* background colour for the page*/
body {
  background-color: #dda15eff;
}
nav {
  background-color: #bc6c25ff;
  text-align: end;
  font-size: 25px;
  color: #ffff;
  padding: 20px;
}

.header_box {
  position: absolute;
}

/* Styling the submit Button */ 
button[type=button] {
  background-color: #fefae0ff;
  font-size: 15px;
  padding: 10px 15px;
  border: #fefae0ff;
  cursor: pointer;
}

footer {
  background-color:#fefae0ff;
}
